[Desktop Entry]
Encoding=UTF-8
Name=Burn ISO image
Name[fr]=Graver l'image ISO
Name[ru]=Записать образ ISO
Exec=burn-box --iso=%f
Icon=drive-optical
Type=Application
MimeType=application/x-iso
NoDisplay=true
