[Desktop Entry]
Type=Application
Name=Burn ISO image
Name[fr]=Graver l'image ISO
Name[pt]=Gravador de Imagem ISO
Name[pt_BR]=Gravador de Imagem ISO
Name[ru]=Записать образ ISO
Exec=burn-box --iso=%f
Icon=drive-optical
NoDisplay=true
MimeType=application/x-iso;
