[Desktop Entry]
Type=Application
Name=GNU General Public License
Name[pt]=Licença Pública Geral GNU
Name[pt_BR]=Licença Pública Geral GNU
Name[ru]=Основная общественная лицензия GNU
Exec=tazbox gpl
Icon=text-x-readme
Categories=Documentation;
