[Desktop Entry]
Type=Application
Name=Account Password
Name[fr]=Mot de passe du compte
Name[pt]=Mudar Senha de Usuário
Name[pt_BR]=Mudar Senha de Usuário
Name[ru]=Пароль учетной записи
Exec=terminal -e passwd
Icon=system-config-authentication
Categories=ConsoleOnly;Settings;DesktopSettings;
