[Desktop Entry]
Type=Application
Name=Account Password
Name[fr]=Mot de passe du compte
Name[pt]=Mudar Senha de Usuário
Name[pt_BR]=Mudar Senha de Usuário
Name[ru]=Пароль учётной записи
Exec=terminal -h -T Passwd -geometry 60x10 -e passwd
Icon=user_auth
Categories=ConsoleOnly;Settings;DesktopSettings;
