[Desktop Entry]
Type=Application
Name=SCP Secure copy
Name[fr]=Copie sécurisée SCP
Name[pt]=SCP Cópia Segura de Arquivos
Name[pt_BR]=SCP Cópia Segura de Arquivos
Name[ru]=Защищенное копирование файлов SCP
Exec=scp-box
Icon=folder-remote
Categories=Network;FileTransfer;
