[Desktop Entry]
Type=Application
Name=System language
Name[fr]=Langue du système
Name[pt]=Linguagem do Sistema
Name[pt_BR]=Linguagem do Sistema
Name[ru]=Язык системы
Exec=tazbox su "tazbox locale"
Icon=config-language
Categories=GTK;Settings;DesktopSettings;
