[Desktop Entry]
Type=Application
Name=Time Zone configuration
Name[fr]=Zone horaire
Name[pt]=Configuração de Zona Horária
Name[pt_BR]=Configuração de Zona Horária
Name[ru]=Часовой пояс
Exec=tazbox su "tazbox tz"
Icon=time
Categories=GTK;Settings;DesktopSettings;
