[Desktop Entry]
Type=Application
Name=Video player (fullscreen)
Name[fr]=Lecteur video (plein écran)
Name[ru]=Проигрыватель видео (на весь экран)
Comment=Versatile HTML5 video player
Comment[fr]=Lecteur video HTML5 versatile
Comment[ru]=Просмотр видео HTML5
Exec=tazbox video --fullscreen
Icon=multimedia-video-player
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/webm;video/ogg;
