[Desktop Entry]
Encoding=UTF-8
Name=Keyboard mapping
Name[fr]=Mappage du clavier
Name[pt]=Mapa do Teclado
Name[pt_BR]=Mapa do Teclado
Name[ru]=Раскладка клавиатуры
Exec=tazbox su "tazbox keymap"
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
