[Desktop Entry]
Type=Application
Name=Default applications
Name[de]=Standard-Anwendungen
Name[fr]=Applications par défaut
Name[ru]=Избранные приложения
Comment=SliTaz default applications configuration
Comment[ru]=Настройка избранных приложений SliTaz
Exec=tazbox tazapps
Icon=preferences-desktop-default-applications
Categories=GTK;Settings;DesktopSettings;
