[Desktop Entry]
Encoding=UTF-8
Name=Boot floppy/cdrom creation tool
Name[fr]=Disquette/cdrom de démarrage
GenericName=Gen a boot floppy
GenericName[fr]=Créer une disquette de démarrage
Comment=Generate a boot floppy
Exec=subox bootfloppybox
Icon=/usr/share/icons/Tango/16x16/devices/gtk-floppy.png
Type=Application
Categories=System;
