[Desktop Entry]
Encoding=UTF-8
Name=Desktop icons
Icon=user-desktop
Exec=desktopbox add-icons
Type=Application
Categories=Settings;DesktopSettings;GTK;
