[Desktop Entry]
Encoding=UTF-8
Name=Auto started applications
Name[pt]=Aplicações Auto Iniciadas
Icon=preferences-system-session
Exec=desktopbox autostart
Type=Application
Categories=Settings;DesktopSettings;GTK;
