[Desktop Entry]
Encoding=UTF-8
Name=Auto started applications
Name[pt]=Aplicações Auto Iniciadas
Name[pt_BR]=Aplicações Auto Iniciadas
Icon=gnome-session
Exec=desktopbox autostart
Type=Application
Categories=Settings;DesktopSettings;GTK;
