[Desktop Entry]
Encoding=UTF-8
Name=Configure networking
Name[fr]=Configurer le réseau
Name[pt]=Configuração de Rede
Exec=subox netbox
Icon=netbox
Type=Application
Categories=System;Application;
