[Desktop Entry]
Encoding=UTF-8
Name=Scpbox Secure copy
Name[fr]=Scpbox Copie sécurisé
Comment=Upload or download files with scp
Exec=scpbox
Icon=folder-remote
Type=Application
Categories=Application;Network;
