[Desktop Entry]
Encoding=UTF-8
Name=Manage servers
Name[fr]=Gérer les serveurs
Name[pt]=Gerenciar servidores
Exec=subox serverbox
Icon=utilities-system-monitor
Type=Application
Categories=System;Application;
