[Desktop Entry]
Encoding=UTF-8
Name=SliTaz Installer
Name[fr]=SliTaz Installateur
Name[pt]=Instalador do SliTaz
Exec=subox 'xterm -e slitaz-installer'
Icon=/usr/share/icons/Tango/16x16/apps/system-installer.png
Type=Application
Categories=System;
