[Desktop Entry]
Encoding=UTF-8
Name=System language
Name[fr]=Langue du système
Name[pt]=Linguagem do Sistema
Name[pt_BR]=Linguagem do Sistema
Exec=tazbox su "tazbox locale"
Icon=locale
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
