[Desktop Entry]
Encoding=UTF-8
Name=Time Zone configuration
Name[fr]=Zone horaire
Exec=tazbox su "tazbox tz"
Icon=locale
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
