[Desktop Entry]
Encoding=UTF-8
Name=System language
Name[fr]=Langue du système
Exec=tazbox su "tazbox locale"
Icon=locale
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
