[Desktop Entry]
Encoding=UTF-8
Name=Keyboard mapping
Name[fr]=Mappage du clavier
Name[pt]=Mapa do Teclado
Exec=subox tazkeymap
Icon=/usr/share/icons/SliTaz/16x16/devices/input-keyboard.png
Terminal=true
Type=Application
Categories=Settings;DesktopSettings;
