[Desktop Entry]
Encoding=UTF-8
Name=System Language
Name[fr]=Langue du système
Name[pt]=Linguagem do Sistema
Exec=subox tazlocale
Icon=/usr/share/icons/Tango/16x16/apps/preferences-desktop-locale.png
Terminal=true
Type=Application
Categories=Settings;DesktopSettings;
