[Desktop Entry]
Encoding=UTF-8
Name=Wifi configuration
Name[fr]=Configuration Wifi
Name[pt]=Wifi configuração
Exec=tazbox su wifibox
Icon=network-wireless
Type=Application
Categories=System;Application;
