[Desktop Entry]
Encoding=UTF-8
Name=Mount devices
Name[fr]=Monter un périphérique
Comment=Mount devices on mount points
Exec=subox mountbox
Icon=/usr/share/icons/Tango/jwm/media-flash.png
Type=Application
Categories=System;Application;
