[Desktop Entry]
Encoding=UTF-8
Name=Account Password
Name[fr]=Mot de passe du compte
Exec=xterm -T "Passwd" -geometry 60x10 -e 'echo; passwd; sleep 4'
Icon=passwd.png
Terminal=true
Type=Application
Categories=Settings;DesktopSettings;
